<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>b_Atsa</key>
	<string>0</string>
	<key>e_Atsa</key>
	<string>0</string>
	<key>l_Atsa</key>
	<string>20</string>
	<key>Max_Atsa</key>
	<string>20000</string>
	<key>d_Atsa</key>
	<string>0.1</string>
	<key>c_Atsa</key>
	<string>4</string>
	<key>w_Atsa</key>
	<integer>1</integer>
	<key>F_File_Atsa</key>
	<integer>3</integer>
	<key>h_Atsa</key>
	<string>0.25</string>
	<key>m_Atsa</key>
	<string>-60</string>
	<key>t_Atsa</key>
	<string>3</string>
	<key>s_Atsa</key>
	<string>3</string>
	<key>g_Atsa</key>
	<string>3</string>
	<key>T_SMR_Atsa</key>
	<string>30</string>
	<key>S_SMR_Atsa</key>
	<string>60</string>
	<key>P_Peak_Atsa</key>
	<string>0</string>
	<key>M_SMR_Atsa</key>
	<string>0.5</string>
	<key>s_Cvanal</key>
	<string>10000</string>
	<key>c_Cvanal</key>
	<string>0</string>
	<key>b_Cvanal</key>
	<string>0</string>
	<key>d_Cvanal</key>
	<string>0</string>
	<key>s_Hetro</key>
	<string>10000</string>
	<key>c_Hetro</key>
	<string>1</string>
	<key>b_Hetro</key>
	<string>0</string>
	<key>d_Hetro</key>
	<string>0</string>
	<key>f_Hetro</key>
	<string>100</string>
	<key>Max_Hetro</key>
	<string>32767</string>
	<key>n_Hetro</key>
	<string>256</string>
	<key>h_Hetro</key>
	<string>10</string>
	<key>min_Hetro</key>
	<string>64</string>
	<key>l_Hetro</key>
	<string>0</string>
	<key>s_Lpanal</key>
	<string>10000</string>
	<key>c_Lpanal</key>
	<string>1</string>
	<key>b_Lpanal</key>
	<string>0</string>
	<key>d_Lpanal</key>
	<string>0</string>
	<key>p_Lpanal</key>
	<string>34</string>
	<key>Min_Lpanal</key>
	<string>70</string>
	<key>Max_Lpanal</key>
	<string>200</string>
	<key>h_Lpanal</key>
	<string>200</string>
	<key>v_Lpanal</key>
	<integer>0</integer>
	<key>a_Lpanal</key>
	<false/>
	<key>Comments_Lpanal</key>
	<string></string>
	<key>s_Pvanal</key>
	<string>10000</string>
	<key>c_Pvanal</key>
	<string>1</string>
	<key>b_Pvanal</key>
	<string>0</string>
	<key>d_Pvanal</key>
	<string>0</string>
	<key>n_Pvanal</key>
	<integer>7</integer>
	<key>w_Pvanal</key>
	<integer>0</integer>
	<key>h_Pvanal</key>
	<integer>3</integer>
	<key>window_Pvanal</key>
	<integer>1</integer>
</dict>
</plist>
